.advantages {
  background: #f8f9fc;

  overflow: hidden;
}

.advantages__wrapper {
  width: 1040px;
  padding: 120px 0 34px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 88.28%;
    padding: 100px 0 80px;
  }

  @media (max-width: 767px) {
    width: 90.63%;
    padding: 70px 0;
  }
}

.advantages__wrapper h2 {
  margin: 0;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
  }
}

.advantages__list {
  margin-top: 61px;

  display: grid;
  grid-template-columns: 340px 240px 340px;
  column-gap: 60px;
  grid-template-areas: "acreage trainers parking"
    "comfort trainers experience";

  @media (max-width: 1199px) {
    margin-top: 42px;

    grid-template-columns: 1fr 1fr;
    justify-content: start;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-areas: "acreage parking"
      "trainers trainers"
      "comfort experience";
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-areas: "acreage"
      "parking"
      "trainers"
      "comfort"
      "experience";
    row-gap: 34px;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 4fr;
  column-gap: 30px;
  grid-template-areas: "number title"
    "number description";
  align-items: start;

  @media (max-width: 1199px) {
    column-gap: 19px;
    grid-template-rows: 1fr 2fr;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--acreage {
    grid-area: acreage;

    padding-left: 26px;

    border-bottom: 2px solid rgba(209, 10, 66, 0.2);

    @media (max-width: 1199px) {
      border: none;
      padding: 0;
    }
  }

  &--parking {
    grid-area: parking;

    border-bottom: 2px solid rgba(209, 10, 66, 0.2);

    @media (max-width: 1199px) {
      border: none;
    }

    @media (max-width: 767px) {
      padding-bottom: 10px;
    }
  }

  &--trainers {
    grid-area: trainers;

    margin-top: 6px;
    padding: 0 34px 59px;

    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #1c3374;
    color: #ffffff;

    @media (max-width: 1199px) {
      width: 65.19%;
      margin: 0 auto;
      padding-bottom: 38px;
    }

    @media (max-width: 767px) {
      position: relative;
      left: -10%;
      width: 120%;
      padding: 0;
      padding-bottom: 44px;
    }
  }

  &--comfort {
    grid-area: comfort;
    align-self: end;

    padding-left: 20px;
    margin-top: 69px;

    @media (max-width: 1199px) {
      padding: 0;
      margin-right: -19px;
      margin-top: 12px;
    }

    @media (max-width: 767px) {
      margin-top: 6px;
      margin-right: 0;
    }
  }

  &--experience {
    grid-area: experience;
    align-self: end;
  }
}

.advantages__numbers {
  grid-area: number;

  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    align-items: center;
  }
}

.advantages__numbers b {
  font-weight: 700;
  font-size: 71px;
  line-height: 100%;
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 1199px) {
    font-size: 58px;
  }
}

.advantages__numbers small {
  margin-top: -9px;
  font-weight: 400;
  font-size: 14px;
  color: #2e35ac;

  @media (max-width: 1199px) {
    margin-top: -5px;
  }
}

.advantages__item h3 {
  grid-area: title;

  margin: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #102654;

  @media (max-width: 1199px) {
    font-size: 20px;
  }

  @media (max-width: 767px) {
    margin-top: 5px;
  }
}

.advantages__item p {
  grid-area: description;
  margin: 0;
  margin-top: 6px;

  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #102654;

  @media (max-width: 1199px) {
    margin-top: 0;
  }

  @media (max-width: 767px) {
    padding: 0 10px;
    text-align: center;
  }
}

.advantages__item--trainers b {
  margin-top: 80px;

  font-weight: 700;
  font-size: 74px;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin-top: 57px;
  }

  @media (max-width: 767px) {
    margin-top: 63px;
  }
}

.advantages__item--trainers h3 {
  margin-top: 27px;

  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #ffffff;

  @media (max-width: 1199px) {
    letter-spacing: 1px;
  }

  @media (max-width: 767px) {
    margin-top: 22px;
  }
}

.advantages__item--trainers p {
  margin-top: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin-top: 15px;
    padding: 0 92px;
  }

  @media (max-width: 767px) {
    margin-top: 9px;
  }
}

.advantages__item--parking p {
  margin-top: 6px;

  @media (max-width: 1199px) {
    margin-top: 0;
  }
}

.advantages__item--acreage p {
  margin-top: 6px;

  @media (max-width: 1199px) {
    margin-top: 0;
  }
}

.advantages__item--acreage b {
  @media (max-width: 1199px) {
    margin-right: -19px;
  }

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.advantages__item--comfort b {
  @media (max-width: 1199px) {
    margin-right: -32px;
  }

  @media (max-width: 767px) {
    margin-right: 0;
  }
}
