.basic {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
}

.basic__wrapper {
  margin: 0 auto;
  padding: 51px 0;
  width: 1160px;
  min-height: 658px;

  display: grid;
  grid-template-columns: 396px 500px 1fr;
  column-gap: 64px;
  justify-content: end;

  @media (max-width: 1199px) {
    min-height: 554px;
    width: 88.28%;
    padding: 82px 0;

    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  @media (max-width: 767px) {
    width: 90.63%;
    grid-template-columns: 1fr;
    min-height: 491px;

    padding-bottom: 0;
  }
}

.basic__container {
  margin-left: 17px;
  text-align: right;
  align-self: start;

  display: flex;
  flex-direction: column;

  color: #ffffff;

  @media (max-width: 1199px) {
    margin-left: 0;
  }
}

.basic__container-title {
  position: relative;

  margin-top: 8px;

  @media (max-width: 1199px) {
    margin-top: 4px;
  }

  @media (max-width: 767px) {
    margin-top: 9px;
  }
}

.basic__container h2 {
  margin: 0;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 109px;
  line-height: 109px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  -webkit-text-stroke: 2px;

  @media (max-width: 1199px) {
    font-size: 86px;
    line-height: 86px;
  }

  @media (max-width: 767px) {
    font-size: 78px;
    line-height: 78px;
  }
}

.basic__container p {
  margin: 0;
  margin-top: 116px;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 400;
  font-size: 49px;
  line-height: 59px;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: 1199px) {
    margin-top: 53px;

    font-size: 34px;
    line-height: 41px;
  }

  @media (max-width: 767px) {
    margin-top: 30px;
    font-size: 28px;
    line-height: 34px;
  }
}

.basic__list {
  position: absolute;
  top: 122px;

  margin: 0;
  padding: 0;
  min-width: 115px;

  list-style-type: none;

  @media (max-width: 1199px) {
    top: 88px;
    right: 211px;
  }

  @media (max-width: 767px) {
    top: 78px;
    right: 178px;
  }
}

.basic__item {
  font-size: 14px;
  line-height: 21px;
}

.basic__btn {
  margin-top: 51px;

  align-self: flex-end;
  padding: 21px 56px 18px 53px;
  border: 4px solid #ffffff;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  letter-spacing: 0.05em;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: 1199px) {
    margin-top: 36px;
    padding: 21px 30px 18px 31px;
  }

  @media (max-width: 767px) {
    display: block;
    margin-top: 39px;
    padding-bottom: 20px;

    align-self: stretch;
    text-align: center;
  }
}

.basic__wrapper img {
  @media (max-width: 767px) {
    display: none;
  }
}

.basic__social-list {
  margin: 0 -12px 31px 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  list-style-type: none;
  text-align: right;

  align-self: end;

  @media (max-width: 1199px) {
    display: none;
  }
}

.basic__social-item a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;

  &:hover {
    opacity: 0.5;
  }
}
