.coaches {
  position: relative;
  padding: 0 0 120px;
  margin: 0 auto;
  width: 1160px;

  @media (max-width: 1279px) {
    width: 90%;
  }

  @media (max-width: 1199px) {
    width: 73.7%;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    width: 90.63%;
    padding-top: 20px;
    padding-bottom: 70px;
  }
}

.coaches h2 {
  margin: 0 0 50px 0;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media (max-width: 1199px) {
    margin-bottom: 40px;
    text-align: center;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 767px) {
    margin-bottom: 42px;

    font-size: 32px;
    line-height: 32px;
  }
}

.coaches__item {
  position: relative;
}

.coaches__item img {
  @media (max-width: 1199px) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: 767px) {
    width: 226px;
    height: 274px;
  }
}

.coaches__item h3 {
  margin: 0;
  width: 100%;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  z-index: 2;
}

.coaches__item:hover h3,
.coaches__item:focus h3 {
  bottom: auto;
  top: 65px;

  @media (max-width: 767px) {
    bottom: 192px;
    top: auto;
  }
}

.coaches__container {
  display: none;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  color: #ffffff;
}

.coaches__item:hover .coaches__container,
.coaches__item:focus .coaches__container {
  display: block;
  background: rgba(16, 38, 84, 0.89);
}

.coaches__overflor {
  position: absolute;
  height: 220px;
  width: 100%;
  top: 74px;

  overflow: scroll;

  @media (max-width: 1279px) {
    height: 190px;
  }

  @media (max-width: 1199px) {
    height: 220px;
  }

  @media (max-width: 767px) {
    height: 210px;
    top: 64px;
  }
}

.coaches__container p {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #b6bdcc;
}

.coaches__description {
  margin: 34px 0 0;
  padding: 0 45px 0 55px;

  list-style-type: none;
  text-align: left;

  @media (max-width: 1279px) {
    margin: 20px 0 0;
    padding: 0 45px 0 45px;
  }

  @media (max-width: 1199px) {
    margin: 34px 0 0;
    padding: 0 45px 0 55px;
  }

  @media (max-width: 767px) {
    padding: 0 30px 0 34px;
  }
}

.coaches__description-item {
  position: relative;
  margin-bottom: 13px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.coaches__btn {
  &::after {
    display: none;
  }

  top: calc(50% - 10px);

  cursor: pointer;

  @media (max-width: 1199px) {
    top: calc(50% - 9px);
  }

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;

    top: calc(50% + 25px);
  }

  &--prev {
    left: -62px;

    @media (max-width: 1279px) {
      left: -42px;
    }

    @media (max-width: 1199px) {
      left: -62px;
    }

    @media (max-width: 767px) {
      left: 0;
    }
  }

  &--next {
    transform: rotate(180deg);
    right: -62px;

    @media (max-width: 1279px) {
      right: -42px;
    }

    @media (max-width: 1199px) {
      right: -62px;
    }

    @media (max-width: 767px) {
      right: 0;
    }
  }
}
