.offers {
  margin: 0 auto;
  padding: 120px 0;
  width: 1160px;

  @media (max-width: 1199px) {
    width: 88.28%;
    padding: 102px 0 100px;
  }

  @media (max-width: 767px) {
    width: 90.63%;
    padding: 68px 0 70px;
  }
}

.offers h2 {
  margin: 0;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
  }
}

.offers__wrapper {
  margin-top: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 40px;
  grid-template-areas: "year month"
    "year discount";

  @media (max-width: 1199px) {
    margin-top: 38px;
    grid-template-areas: "year year"
      "month discount";
    gap: 30px 30px;
  }

  @media (max-width: 767px) {
    margin-top: 42px;

    grid-template-columns: 1fr;
    grid-template-areas: "year"
      "month"
      "discount";
  }
}

.offers__container {
  grid-area: year;
  // grid-row: 1/-1;

  display: flex;
  flex-direction: row;

  @media (max-width: 1199px) {
    display: grid;
    grid-template-columns: auto 399px;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.offers__info {
  width: 280px;
  padding: 34px 45px 45px;

  display: flex;
  flex-direction: column;

  background-color: #ed0233;
  color: #ffffff;

  @media (max-width: 1199px) {
    width: auto;
  }

  @media (max-width: 767px) {
    min-height: 299px;
  }
}

.offers__container img {
  height: 100%;

  @media (max-width: 1199px) {
    width: 399px;
    // height: 462px;
  }

  @media (max-width: 767px) {
    width: 100%;
    // height: auto;
  }
}

.offers__info small {
  font-weight: 700;
  font-size: 28px;
  line-height: 156%;
}

.offers__info b {
  margin-top: -26px;

  font-weight: 700;
  font-size: 70px;
  line-height: 156%;
}

.offers__info p {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  @media (max-width: 767px) {
    margin-top: -6px;
  }
}

.offers a {
  margin-top: auto;
  align-self: flex-start;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border-bottom: 1px solid #1c3374;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: 767px) {
    align-self: center;
  }
}

.offers__info a {
  color: #ffffff;
  border-bottom-color: #ffffff;
}

.offers__overs {
  padding: 19px 28px 28px;
  min-height: 211px;

  display: flex;
  flex-direction: column;

  border: 7px solid #ffffff;
  border-image: linear-gradient(-10deg, #00359f, #d10a42);
  border-image-slice: 1;
  box-sizing: border-box;

  color: #1c3374;

  &:first-of-type {
    grid-area: month;
  }

  &:nth-child(2) {
    grid-area: discount;
  }

  @media (max-width: 767px) {
    padding: 28px 28px 40px;
    text-align: center;
  }
}

.offers__overs h3 {
  margin: 0;

  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
}

.offers__overs p {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  @media (max-width: 767px) {
    margin-top: 5px;
  }
}

.offers__overs--free-month p {
  @media (max-width: 1199px) {
    padding-right: 30px;
  }

  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.offers__overs a {
  margin-top: auto;
  padding-top: 10px;

  font-size: 12px;
  line-height: 14px;
  color: #1c3374;
  cursor: pointer;
  user-select: none;
}
