.page-body {
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;

  background-color: #ffffff;
  color: #102654;
}
