.page-footer {
  margin-top: auto;
  background-color: #030a1a;
  color: #ffffff;
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 44px 0 40px;
  width: 1160px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 45px;
  align-items: start;

  @media (max-width: 1199px) {
    width: 88.28%;
    padding: 48px 0 41px;
    column-gap: 15px;
    grid-template-columns: 1fr 4fr 1fr;
  }

  @media (max-width: 767px) {
    width: 90.63%;
    padding: 50px 0 49px;
    display: flex;
    flex-direction: column;
  }
}

.page-footer__wrapper img {
  @media (max-width: 1199px) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: 767px) {
    width: 68px;
    height: 15px;
  }
}

.page-footer__list {
  list-style-type: none;
  margin: -4px 0 0 20px;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 1199px) {
    margin: -4px 0 0 9px;
  }

  @media (max-width: 767px) {
    margin: -20px 0 0 -5px;
    width: 104%;
    display: block;

    column-count: 2;
    list-style-type: none;
  }
}

.page-footer__item {
  margin-right: 20px;

  &--empty {
    display: none;
  }

  @media (max-width: 1199px) {
    margin-right: 10px;
  }

  @media (max-width: 767px) {
    margin: 0;
    margin-bottom: 16px;

    &--empty {
      display: block;
      height: 24px;
    }
  }
}

.page-footer__item a {
  padding: 5px 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: 767px) {
    padding: 5px;
    font-size: 16px;
    line-height: 19px;
  }
}

.page-footer .page-footer__social {
  margin: -6px -2px 0 0;

  @media (max-width: 1199px) {
    margin: -6px -9px 0 0;
  }

  @media (max-width: 767px) {
    margin: 16px 0 0 -3px;
  }
}
