.reviews {
  position: relative;
  margin: 0 auto;
  padding: 0 0 120px;
  // width: 1160px;
  width: 685px;

  @media (max-width: 1199px) {
    width: 90%;
    padding: 0 0 100px;
  }

  @media (max-width: 767px) {
    width: 90.63%;
    padding: 0 0 70px;
  }
}

.reviews h2 {
  margin: 0;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__item {
  margin-top: 50px;
  padding: 62px 58px 57px 65px;
  width: 560px;

  display: grid;
  grid-template-columns: 80px auto;
  column-gap: 28px;
  grid-template-areas: "img title"
    "img text";
  justify-content: start;

  background-color: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  color: #ffffff;

  @media (max-width: 1199px) {
    margin-top: 41px;
    width: 566px;
  }

  @media (max-width: 767px) {
    width: 226px;
    padding: 40px 25px 34px 28px;
    grid-template-areas: "img title"
      "text text";
    column-gap: 15px;
  }
}

.reviews__item img {
  grid-area: img;

  @media (max-width: 767px) {
    margin-left: 12px;
    width: 68px;
    height: 68px;
  }
}

.reviews__item h3 {
  grid-area: title;

  margin: 0;
  margin-top: -8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: left;

  @media (max-width: 767px) {
    margin-top: 8px;
    line-height: 135%;
  }
}

.reviews__item p {
  grid-area: text;

  margin: 0;
  margin-top: -47px;

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: left;

  @media (max-width: 767px) {
    margin-top: 15px;
    text-align: center;
  }
}

.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  &::after {
    display: none;
  }

  cursor: pointer;

  // top: calc(50% + 25px);
  top: 171px;

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;

    // top: calc(50% + 33px);
    top: 222px;
  }
}

.reviews .swiper-button-prev {
  left: 0;
}

.reviews .swiper-button-next {
  transform: rotate(180deg);
  right: 0;
}
