.social {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;

  list-style-type: none;
}

.social__item:not(:first-child) {
  margin-left: 5px;
}

.social__item a {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
