.swiper {
  width: 100%;
  height: 100%;

  position: relative;
}

.swiper-slide {
  text-align: center;
  width: auto;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    display: none;
  }

  top: calc(50% - 10px);

  cursor: pointer;

  @media (max-width: 1199px) {
    top: calc(50% - 9px);
  }

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;

    top: calc(50% + 25px);
  }
}

.swiper-button-prev {
  left: -62px;

  @media (max-width: 1279px) {
    left: -42px;
  }

  @media (max-width: 1199px) {
    left: -62px;
  }

  @media (max-width: 767px) {
    left: 0;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
  right: -62px;

  @media (max-width: 1279px) {
    right: -42px;
  }

  @media (max-width: 1199px) {
    right: -62px;
  }

  @media (max-width: 767px) {
    right: 0;
  }
}
