@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/Roboto-Condensed.woff2") format("woff2"),
    url("../fonts/Roboto-Condensed.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Bebas Neue";

  font-display: swap;
  src:
    url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Bebas Neue";

  font-display: swap;
  src:
    url("../fonts/BebasNeue-Bold.woff2") format("woff2"),
    url("../fonts/BebasNeue-Bold.woff") format("woff");
}
